{% extends 'base/base.html' %}
{% block content %}
<!-- 
        {% for post in featured_post %}
        {% if forloop.first %}
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary"
            style="background-image: url('{{ post.blog_image.url }}'); background-size: cover; background-position: center;">
            <div class="col-lg-6 px-0" style="color: black">
                <h1 class="display-4 fst-italic">
                    {{ post.title }}
                </h1>
                <p class="lead my-3">
                    {{ post.short_description | truncatewords:30 }}
                </p>
                <p class="lead mb-0">
                    <a href="#" class="text-body-emphasis fw-bold">Continue reading...</a>
                </p>
            </div>
        </div>
        {% endif %}
        {% endfor %} -->
<div class="container">
    <h3 class="text-uppercase text-warning" style="letter-spacing: 2px;">Category - {{ category }}</h3>
    <div class="obye">
        <div class="col-md-8" style="min-width: 1297px; display: flex;">
            <div class="col">
                <div class="col-m">
                    <article class="blog-post">
                        <div class="row g-5">
                            <div class="card border-0">
                                {% for post in posts %}

                                <div class="card-body">
                                    <h3><a href="{% url 'blogs' post.slug %}">{{ post.title }}</a></h3>
                                    <div class="mb-1 text-body-secondary">{{ post.created_at | timesince }} ago | {{ post.author }}</div>
                                    <p class="card-text">{{ post.short_description | truncatewords:20 }}</p>
                                </div>

                                {% endfor %}
                            </div>
                            <!-- {% for post in posts %}
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                            style="max-width: 550px;">
                            <div class="col p-4 d-flex flex-column position-static">

                                <h3 class="mb-0">{{ post.title }}</h3>
                                <div class="mb-1 text-body-secondary">Nov 12</div>
                                <p class="card-text mb-auto">
                                    {{ post.short_description | truncatewords:30 }}
                                </p>
                                <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                                    Continue reading
                                    <svg class="bi" aria-hidden="true">
                                        <use xlink:href="#chevron-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        {% endfor %} -->

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/dist/js/bootstrap.bundle.min.js" class="astro-vvvwv3sm"></script>

</body>

</html>
{% endblock %}